<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="/images/LogoIconDesign.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{title}}</strong> <small>{{datetime createdAt}}</small>
      <div class="control">
        <form action="/api/diary/{{id}}" method="POST">
          <button type="submit" class="button is-success">Update Entry</button>
        </form>
      </div>
      </p>
<p>
      <textarea name="content" placeholder="3 lines of textarea" rows="3">{{content}}</textarea>
      </p>
      
        <div class="control">
          <form action="/api/diary/delete/{{id}}" method="POST">
            <button type="submit" class="button is-danger is-rounded" >Delete Entry
            </button>
          </form>
        </div>
      </div>
    </div>
  </article>
</div>