<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{title}}</strong> <small>***</small> <small>{{datetime createdAt}}</small>
          <br>

        </p>
      </div>
      <div class="control">
        <form action="/api/diary/{{id}}" method="POST">
          <button type="submit">Update Entry</button>
          <textarea name="content" placeholder="5 lines of textarea" rows="5">{{content}}</textarea>
        </form>
      </div>
 <div class="control">
        <form action="/api/diary/{{id}}" method="DELETE">
        <button type="delete">Delete Entry</button>
          <textarea name="content" placeholder="5 lines of textarea" rows="5">{{content}}</textarea>
        </form>
      </div>

      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>