<div class="box">
  <article class="media">
    <div class="media-left">

      <figure class="image is-64x64">
        <img src="/images/LogoIconDesign.png" alt="Image">
      </figure>

    </div>
    <div class="media-content">
      <div class="content">

        <p>
          <strong>{{title}}</strong> <small>{{datetime createdAt}}</small>
        </p>

      </div>

      <div class="control">
        <form action="/api/diary/{{id}}" method="POST">
        <button type="submit" class="button is-link is-rounded">Update Entry</button>
          <textarea id="textBox" class="textarea" name="content">{{content}}</textarea>
        </form>
      </div>

      <div class="control">
        <form action="/api/diary/delete/{{id}}" method="POST">
          <button type="submit" class="button is-danger is-rounded">Delete Entry
          </button>
        </form>
      </div>


 
</div>
</article>
</div>

